@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(209, 36, 36); /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners */
}

/* Scrollbar Track when mouse hovers over it */
/* ::-webkit-scrollbar-track:hover {
  background-color: #cbd5e0; /* Color of the scrollbar track on hover */
/* } */

/* Scrollbar Handle when mouse hovers over it */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(
    229,
    16,
    16,
    0.414
  ); /* Color of the scrollbar handle on hover */
}

/* Scrollbar Handle when being dragged */
::-webkit-scrollbar-thumb:active {
  background-color: rgba(
    229,
    16,
    16,
    0.414
  ); /* Color of the scrollbar handle when being dragged */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  @media only screen and (max-device-width: 480px) and (orientation: portrait),
    only screen and (max-device-width: 568px) and (orientation: landscape),
    only screen and (max-device-width: 768px) and (orientation: portrait),
    only screen and (max-device-width: 1024px) and (orientation: landscape) {
  }

  body {
    @apply bg-[#141414] text-white;
    position: relative;
  }

  .dark-nav {
    @apply bg-[#141414] transition-colors;
  }

  .navbar {
    transition: 0.5s;
  }

  .gradient-nav {
    @apply bg-gradient-to-b from-black transition-colors;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  .bg-shimmer {
    /* @apply bg-slate-700; */
    animation-duration: 3.6s;
    animation-iteration-count: infinite;
    animation-name: shimmerAnimation;
    animation-timing-function: ease-in-out;
  }

  .bg-shimmer-wave {
    animation-duration: 3.6s;
    @apply bg-[#141414];
    -webkit-mask-image: linear-gradient(
      130deg,
      #000 55%,
      rgba(0, 0, 0, 0.8) 75%,
      #000 95%
    );
    mask-image: linear-gradient(
      130deg,
      #000 55%,
      rgba(0, 0, 0, 0.8) 75%,
      #000 95%
    );
    -webkit-mask-size: 200% 100%;
    mask-size: 200% 100%;
    -webkit-animation: placeholder-wave 2s linear infinite;
    animation: shimmerAnimation-wave 2s linear infinite;
  }

  @keyframes shimmerAnimation-wave {
    100% {
      mask-position: -200% 0%;
    }
  }

  @keyframes shimmerAnimation {
    0% {
      background-color: #1a1a1a;
    }

    25% {
      background-color: #333;
    }

    50% {
      background-color: #1a1a1a;
    }

    100% {
      background-color: #1a1a1a;
    }
  }

  .trending-card {
    transition: 0.3s;
  }

  .trending-card:hover {
    /* transform: scale(1.2); */
  }

  .moview-by-type {
    background: linear-gradient(0deg, #141414 80%, transparent 100%);
  }

  .trending-number {
    -webkit-text-stroke: 4px rgb(89, 89, 89);
    font-weight: bold;
    font-family: sans-serif;
    color: #000;
    line-height: 200px;
  }

  .movie-hovered {
    display: none;
  }

  .movie-hovered.hovered {
    display: block;
  }

  .hover-container {
    opacity: 1;
    transform: scale(0.8);
    transition: opacity 0.1s ease-in, transform 0.2s ease-in;
  }

  .movie-hovered.hovered:hover {
    transition: 1s;
  }

  .movie-hovered.hovered:hover .hover-container {
    transform: scale(1);
    opacity: 1;
  }
}

:root {
  --swiper-navigation-size: 32px;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  color: #fff !important;
  width: 72px !important;
  height: 100% !important;
  top: 0 !important;
  margin-top: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
  bottom: 0 !important;
  top: 0 !important;
  height: 100%;
  background: linear-gradient(90deg, rgb(17, 17, 17), transparent) !important;
}

.swiper-button-prev:hover {
  left: 0 !important;
  background: linear-gradient(90deg, black, transparent) !important;
}

.swiper-button-next {
  right: 0 !important;
  background: linear-gradient(270deg, rgb(17, 17, 17), transparent) !important;
}

.swiper-button-next:hover {
  right: 0 !important;
  background: linear-gradient(270deg, black, transparent) !important;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  transition: 0.3s !important;
  transform: scale(1.2) !important;
}

.swiper-button-disabled {
  display: none !important;
}

.swiper:hover .swiper-button-prev:not(.swiper-button-disabled),
.swiper:hover .swiper-button-next:not(.swiper-button-disabled) {
  display: flex !important;
}

.bg-blur {
  inset: 0 !important;
  background-color: rgba(0, 0, 0, 0.5) !important; /* Black with 50% opacity */
  backdrop-filter: blur(10px) !important; /* Apply blur effect */
}
